<div class="">

  <div class="erb_header">
    <h3>Account Detail View</h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th class="w-small">ID</th>
<th class="w-small">Name</th>
<th class="w-small">Phone</th>
<th class="w-small">Address</th>
<th class="w-small">Website</th>
<th class="w-small">Description</th>
<th class="w-small">Website</th>

      <th class="w-med">Updated</th>
    </tr>

    <tr>
      <td><%= @account.id %></td>
<td><%= @account.name %></td>
<td><%= @account.phone %></td>
<td><%= @account.address %></td>
<td><%= @account.website %></td>
<td><%= @account.description %></td>
<td><%= @account.website %></td>

      <td><%= @account.updated_at.strftime('%x')%></td>
    </tr>

  </table>
</div>
